body {
    background-color: #77B6EA;
}

#Nome {
    font-family: Arial, Helvetica, sans-serif;
}

#Descricao {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.Habilidades {
    font-size: 30px;
}